services:
  mongo:
    image: mongo:latest
    container_name: ram-ms-logger-db
    restart: always
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: logger
      MONGO_INITDB_ROOT_PASSWORD: ramloggerpassword
    volumes:
      - mongo-data:/data/db
  backend:
    build: .
    container_name: ram-ms-logger
    restart: unless-stopped
    ports:
      - '3001:3001'
    env_file:
      - .env.production
    depends_on:
      - mongo
    environment:
      - NODE_ENV=production
    profiles:
      - prod
volumes:
  mongo-data:
